:root {
  --primary: #0e101c;
  --secondary: #bf1650;
  --light-blue: #516391;
  --blue: #1e2a4a;
  --light-pink: #ec5990;
  --error-pink: #fbecf2;
  --button-blue: #191d3a;
  --link: #ff7aa8;
  --green: #1bda2b;
}
