@import './colors.css';

.collapseButton {
  width: 24px;
}

.isNativeButton {
  width: 60px;
}

.button {
  border: 1px solid var(--light-blue);
  height: 24px;
}

.actionsAndName {
  display: flex;
}

.actions {
  width: 50%;
  display: flex;
  gap: 8px;
}

.name {
  width: 50%;
  padding-top: 2px;
}

.fieldState {
  padding: 16px 10px;
  border-bottom: 1px dashed var(--secondary);
  transition: 0.3s;
}

.fieldState:hover {
  background-color: var(--primary);
}
