.infos {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-block: 4px;
}

.info {
  display: flex;
  gap: 8px;
}

.infoKey {
  width: 50%;
  text-align: end;
  font-weight: bold;
  text-transform: capitalize;
}

.infoValue {
  width: 50%;
}
