.input {
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 8px;
  color: white;
  background: black;
}

.input::placeholder {
  color: #b3b3b3;
}

.input:focus::placeholder {
  color: white;
}
